
.navbar{
  padding: 20px;
  background-color: #05264c;
  color: white;
}

.search{
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.card{
  display: flex;
  justify-content: center;
}